* {
  margin: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
