/* Reset Styles */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Setup Root */
:root {
	/* RGB variables */
	--bg-rgb: 33, 34, 44;
	--fg-rgb: 248, 248, 242;
	--warn-rgb: 241, 250, 140;
	--danger-rgb: 255, 85, 85;
	--success-rgb: 80, 250, 123;
	--info-rgb: 139, 233, 253;
	--primary-rgb: 189, 147, 249;
	--secondary-rgb: 255, 121, 198;
	--tertiary-rgb: 255, 184, 108;
	/* Colors variables */
	--bg: rgb(var(--bg-rgb));
	--bg2: #282a36;
	--fg: rgb(var(--fg-rgb));
	--gray: #44475a;
	--warn: rgb(var(--warn-rgb));
	--danger: rgb(var(--danger-rgb));
	--success: rgb(var(--success-rgb));
	--info: rgb(var(--info-rgb));
	--primary: rgb(var(--primary-rgb));
	--secondary: rgb(var(--secondary-rgb));
	--tertiary: rgb(var(--tertiary-rgb));
	/* Misc variables */
	--container-padding-x: 1rem;
	--container-max-width: 1200px;

	font-family: Arial, Helvetica, sans-serif;
}

::selection {
	background-color: rgba(var(--primary-rgb), 0.5);
}

html {
	background-color: var(--bg);
	color: var(--fg);
	overflow-x: hidden;
}

@media only screen and (min-width: 600px) {
	:root {
		--container-padding-x: 2rem;
	}
}

@media only screen and (min-width: 992px) {
	:root {
		--container-padding-x: 4rem;
	}
}
