/* Custom Fonts */
@font-face {
	font-family: noirEtBlanc;
	src: url("../fonts/noir_et_blanc.woff2");
}

.landing {
	min-height: 500vh;
}

.intro {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	max-width: var(--container-max-width);
	padding: 3rem var(--container-padding-x);
	font-family: noirEtBlanc, sans-serif;
	letter-spacing: 0.12em;
	gap: 0.3em;

	@media only screen {
		@media (min-width: 600px) {
			font-size: 1.5rem;
		}
		@media (min-width: 992px) {
			font-size: 2rem;
		}
	}

	.waving-hand {
		color: var(--warn);
		width: 1em;
		height: 1em;
		animation: wavingHand .8s infinite alternate;
	}

	.background {
		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

/* Waving Hand Animation */
@keyframes wavingHand {
	0% {
		transform: rotate(0);
	}
	30% {
		transform: rotate(-30deg);
	}
	100% {
		transform: rotate(0);
	}
}
