/* Custom Fonts */
@font-face {
	font-family: noirEtBlanc;
	src: url("../fonts/noir_et_blanc.woff2");
}

.landing {
	min-height: 500vh;
}

.intro {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: auto;
	max-width: var(--container-max-width);
	min-height: calc(100vh - 6rem);
	padding: 3rem var(--container-padding-x);
	font-size: 1.25rem;
	overflow: hidden;
	user-select: none;

	@media only screen {
		@media (min-width: 768px) {
			font-size: 2rem;
		}
	}

	.content {
		font-family: noirEtBlanc, sans-serif;
		line-height: 1.5;
		letter-spacing: .12em;
	}

	.bi-waving-hand::before {
		color: rgb(var(--orange-rgb));
		display: inline-block;
		animation: wavingHand .8s infinite alternate;
	}

	.background {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		min-width: 1080px;
		height: 100%;
		z-index: -1;
	}
}

.social {
	text-align: center;
	margin-top: 3rem;
	font-size: 1.5rem;
	a {
		display: inline-block;
		margin: 0 .4em;
		text-decoration: none;
		span::before {
			color: var(--fg);
		}
		span:hover::before {
			animation: coolTextHover .2s infinite;
		}
	}
}

/* Waving Hand Animation */
@keyframes wavingHand {
	0% {
		transform: rotate(0);
	}
	30% {
		transform: rotate(-30deg);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes coolTextHover {
	0% {
		text-shadow: -.2em -.2em var(--danger), .2em -.2em var(--info);
	}
	25% {
		text-shadow: .2em -.2em var(--danger), .1em 0 var(--info);
	}
	50% {
		text-shadow: .1em 0 var(--danger), -.2em .1em var(--info);
	}
	75% {
		text-shadow: -.1em .2em var(--danger), -.2em -.2em var(--info);
	}
	100% {
		text-shadow: -.2em -.2em var(--danger), .2em -.2em var(--info);
	}
}
