/* Hack skip menubar size */
#skill,
#github-profile {
	position: absolute;
	top: -4rem;
}

.skill {
	position: relative;
	background-color: var(--bg2);
	padding: 1rem;
	h3 {
		font-size: 1.5rem;
		text-align: center;
		margin-top: 1rem;
	}
	div {
		overflow: hidden;
	}
	p {
		opacity: 0.9;
		font-size: 1.25rem;
		white-space: nowrap;
		margin: 1rem;
		will-change: transform;
		width: fit-content;
		animation: marquee 40s alternate linear infinite;
		&:nth-child(even) {
			animation-direction: alternate-reverse;
		}
	}
	span {
		margin: 0 .8rem;
	}
}

.github-profile {
	position: relative;
	padding: 3rem;
	a {
		display: inline-block;
		img {
			transition: .3s;
		}
	}
	.title {
		font-size: 1.5rem;
		text-align: center;
		margin-bottom: 1.5rem;
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.avatar {
			position: relative;
			margin: 2rem 1rem;
			&,
			img {
				width: 150px;
				height: 150px;
				border-radius: 50%;
			}
			img {
				object-fit: cover;
				border-right: solid 2px var(--danger);
			}
			&:hover img {
				transform: scale(1.05);
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: -9%;
				left: 6%;
				height: 120%;
				width: 75%;
				transform: rotate(-20deg);
				border-radius: 50%;
			}
			&::before {
				z-index: -1;
				box-shadow: 1px 1px 8px var(--info);
			}
			&::after {
				border-left: solid 2px var(--danger);
			}
		}
		.stats {
			display: flex;
			flex-direction: column;
			img {
				max-width: 100%;
			}
			a:hover img {
				opacity: 0.7;
			}
		}
	}
}

@keyframes marquee {
	to {
		transform: translateX(
			calc(-100% + min(100vw, var(--container-max-width)) - 4rem)
		);
	}
}
